@import "reset.scss";

body{
  margin: 0;
}
html, body {
  overflow-x: hidden;
}

.navbar{
  background-color: #32656A;
  .navbar-brand{
    position: relative;
    left: -20px;
  }
  .toggle{
    height: 30px;
  }
  .navbar-search{


    form{
      min-width: 760px;
      border: none;
      outline: none;
      .btn{
        background-color:  #FDAA4B;
        position: relative;
        left: -10px;

      }
    }
  }
  .navbar-icon{
    margin: 5px;
  }
}

.banner{
  background-color: #FAFAFA;
 .carousel{
  margin-top: 30px;
 }
}




.category{
  background-color: #FAFAFA;

  .category__title{
    text-align: center;
    h3{
      font-size: 28px;
      color: #000000;
      font-family: 'Roboto-Regular';
      text-transform: uppercase;
    padding-top: 90px;
      margin-bottom: 65px;

    }
  }
  .row{
    .col-xl-2{
      text-align: center !important;
    }
   
    .category__text{
      text-align: center;
      a{
        font-size: 16px;
        color: #000;
        font-family: 'Roboto-Regular';
        text-decoration: none;
        position: relative;
        top: 5px;

      }
    }
  }
  .deal{
    .deal__title{
      text-align: center;
      h3{
        font-size: 28px;
        color: #000000;
        font-family: 'Roboto-Regular';
        text-transform: uppercase;
        padding-top: 90px;
        margin-bottom: 65px;

      }
    }
    .row{
      flex-wrap: nowrap;
      .col-xl-3{
        background-color: #fff;
        margin: 5px;
        text-align: center;
        img{
          margin-top: 20px;
        }
      }
    }
    .deal__text{
        text-align: left;
        position: relative;
        left: 10px;
      span{
        font-size: 18px;
        color: #000000;
        position: relative;
   


        font-family: 'Roboto-Regular'; 
      }
      p{
        font-size: 18px;
        color: #000000;



        font-family: 'Roboto-Regular'; 
      }
      #del{
        font-size: 14px;
        color: #9999;
        font-family: 'Roboto-Regular';
      }
    }
  }

}

.news{
  min-height: 600px;
  background-color: #FAFAFA;
  .news-title{
    text-align: center;
    h3{
      font-size: 28px;
      color: #000000;
      font-family: 'Roboto-Regular';
      text-transform: uppercase;
      padding-top: 90px;
    }
  }
  
  .news-box{
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    

    .news-box__item{
      position: relative;

      .news-box__item-calendar{
        background-color: #FDAA4B;
        width: 124px;
        height: 40px;
        position: absolute;
        z-index: 10;
        left: 16px;
        top: 10px;
        text-align: center;
        p{
          line-height: 40px;
        }
      }
      .news-box__item-message{
        position: absolute;
        background-color: #fff;
        top: 215px;
        background-color: #fff;
        width: 375px;
        left: 15px;
        box-shadow: 0px 0px 8px 0px #000000;

        img{
          padding-left: 10px;
        }
        h3{
          font-size: 18px;
          padding-left: 10px;
        }
        p{
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
  }
}


.open-button {

 
  font-size: 15px;
  font-weight: bold;
background: transparent;
  border: none;
  cursor: pointer;
  

}

.form-popup {
  display: none;
  position: fixed;
  bottom: 130px;


  z-index: 9;
  
}

.form-container {
 
  padding: 10px;
  background-color: white;
  
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}

.form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;

}

.form-container .cancel {
  background-color: #448AFF;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;

}




















.bh-stars {
  display: flex;
  justify-content: end;
  margin: 1rem auto;
  
  .bh-star { 
    width: 2rem; 
    height: 1rem;

    .outline {
      fill: gold;
    }

    .full,
    .left-half {
      fill: transparent;
    }
  }
  
  //fill in full stars
  @for $i from 1 through 5 {
    &[data-bh-rating^="#{$i}"] {
      .bh-star--1 {
        .full { fill: gold; }
      }
    }
  }
  
  @for $i from 2 through 5 {
    &[data-bh-rating^="#{$i}"] {
      .bh-star--2 {
        .full { fill: gold; }
      }
    }
  }
  
  @for $i from 3 through 5 {
    &[data-bh-rating^="#{$i}"] {
      .bh-star--3 {
        .full { fill: gold; }
      }
    }
  }
  
  @for $i from 4 through 5 {
    &[data-bh-rating^="#{$i}"] {
      .bh-star--4 {
        .full { fill: gold; }
      }
    }
  }
  
  &[data-bh-rating^="5"] {
    .bh-star--5 {
      .full { fill: gold; }
    }
  }
  
  //fill in half stars
  @for $i from 5 through 9 {
    &[data-bh-rating^="0.#{$i}"] {
      .bh-star--1 {
        .left-half { fill: gold; }
      }
    }
    
    &[data-bh-rating^="1.#{$i}"] {
      .bh-star--2 {
        .left-half { fill: gold; }
      }
    }
    
    &[data-bh-rating^="2.#{$i}"] {
      .bh-star--3 {
        .left-half { fill: gold; }
      }
    }
    
    &[data-bh-rating^="3.#{$i}"] {
      .bh-star--4 {
        .left-half { fill: gold; }
      }
    }
    
    &[data-bh-rating^="4.#{$i}"] {
      .bh-star--5 {
        .left-half { fill: gold; }
      }
    }
  }
  
  &.rounding-up {
    //fill in full stars
    @for $i from 1 through 5 {
      &[data-bh-rating^="#{$i}"] {
        .bh-star--1 {
          .full { fill: gold; }
        }
      }
    }

    @for $i from 2 through 5 {
      &[data-bh-rating^="#{$i}"] {
        .bh-star--2 {
          .full { fill: gold; }
        }
      }
    }

    @for $i from 3 through 5 {
      &[data-bh-rating^="#{$i}"] {
        .bh-star--3 {
          .full { fill: gold; }
        }
      }
    }

    @for $i from 4 through 5 {
      &[data-bh-rating^="#{$i}"] {
        .bh-star--4 {
          .full { fill: gold; }
        }
      }
    }

    &[data-bh-rating^="5"] {
      .bh-star--5 {
        .full { fill: gold; }
      }
    }

    @for $i from 6 through 9 {
      &[data-bh-rating^="0.#{$i}"] {
        .bh-star--1 {
          .full { fill: gold; }
        }
      }
      
      &[data-bh-rating^="1.#{$i}"] {
        .bh-star--2 {
          .full { fill: gold; }
        }
      }

      &[data-bh-rating^="2.#{$i}"] {
        .bh-star--3 {
          .full { fill: gold; }
        }
      }

      &[data-bh-rating^="3.#{$i}"] {
        .bh-star--4 {
          .full { fill: gold; }
        }
      }

      &[data-bh-rating^="4.#{$i}"] {
        .bh-star--5 {
          .full { fill: gold; }
        }
      }
    }
    
    //fill in half stars
    @for $i from 0 through 5 {
      &[data-bh-rating^="0.#{$i}"] {
        .bh-star--1 {
          .left-half { fill: gold; }
        }
      }
      
      &[data-bh-rating^="1.#{$i}"] {
        .bh-star--2 {
          .left-half { fill: gold; }
        }
      }

      &[data-bh-rating^="2.#{$i}"] {
        .bh-star--3 {
          .left-half { fill: gold; }
        }
      }

      &[data-bh-rating^="3.#{$i}"] {
        .bh-star--4 {
          .left-half { fill: gold; }
        }
      }

      &[data-bh-rating^="4.#{$i}"] {
        .bh-star--5 {
          .left-half { fill: gold; }
        }
      }
    }
  }
}

